.logo {
  color: white;
}

.buttonFont {
  color: white;
}

.bg-dashboard {
  background-color: #ffc400;
}

.bg-quit {
  background-color: #ff6b6b;
}

#logo {
  width: 8em;
}

#main {
  text-align: center;
}

#button-container {
  width: 15em;
  text-align: center;
  margin: auto;
}

.maxwidth {
  width: 100%;
}

.yellow-view {
  color: #ffc400;
}
